body {
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 1.2%;
    z-index: 1;
}

.center {
    background-color: rgb(230, 230, 230);
}

.forItems {
    margin: 40px 8% 0 8%;
    padding-top: 40px;
}

.gender {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 7px 15px;
}

.gender._Woman {
    margin-bottom: 32px;
}

.search {
    display: flex;
    width: 100%;
    max-width: 200px;
}

.searchInput {
    height: 100%;
    max-height: 40px;
}

.searchButt {
    margin-left: -20px;
    border-radius: 25px;
    background-color: rgb(0, 8, 193);
    padding: 1px;
}

.fa-solid {
    color: #fff;
}

.searchInput {
    border-radius: 25px;
    border: none;
    background-color: rgb(232, 234, 235);
    width: 100%;
    max-width: 200px;
}

.jewelry {
    display: flex;
    justify-content: space-between;
}

.jewelryParagraph {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 1.2% 3%;
    font-size: 12px;
    cursor: pointer;
}

.jewelryParagraph._Plus {
    padding: 3% 0.8%;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 40px 8% 0 8%;
    width: 100%;
    max-width: 800px;
}

.tabsParagraph {
    border-bottom: 6px #fff solid;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.tabsParagraph._active {
    border-bottom: 6px rgb(0, 8, 193) solid;
    padding-left: 5px;
}

.tabsParagraph._Plus {
    border-bottom: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 0.3% 2%;
    width: 100%;
    max-width: 10px;
    cursor: pointer;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 20px 50px 20px 50px;
}

.productParagraph {
    width: 100%;
    max-width: 190px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 5px;
    margin-top: 5px;
}

.productText {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    position: absolute;
    left: -330px;
    transition: 0.9s;
    background-color: rgb(232, 234, 235);
    z-index: 2;
    border: 15px;
    padding: 30px;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
}

.sidebarFirstLine {
    display: flex;
    padding-bottom: 10px;
}

.sidebarDate {
    padding-right: 15px;
}

.Date {
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(187, 187, 187);
    width: 100%;
    max-width: 100px;
}

.sidebarPrice {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 12px;
}

.sidebarInput {
    padding-right: 30px;
    padding-top: 20px;
}

.forSidebarInput {
    width: 100%;
    max-width: 90px;
    border-radius: 5px;
    border-color: #B3B3B4;
    border: 0.1 px solid;
    text-align: center;
    color: #B3B3B4;
}

.sidebarSecondLine {
    display: flex;
}

.sidebarButt {
    position: absolute;
    display: flex;
    left: 330px;
    top: -5px;
    flex-direction: column;
    width: 100%;
    max-width: 30px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(0, 8, 193);
    cursor: pointer;
}

.sidebarClose {
    position: absolute;
    cursor: pointer;
    left: 300px;
    background-color: blue;
    border-radius: 10px;
    width: 100%;
    max-width: 15px;
}

.sidebarIcon {
    color: #fff;
    cursor: pointer;
}

.sidebarText {
    color: #fff;
    cursor: pointer;
}

.popup {
    position: absolute;
    display: flex;
    align-items: center;
    top: -100px;
    left: -1px;
    bottom: -500px;
    width: 100%;
    max-width: 100%;
    height: 1000px;
    z-index: -1;
    transition: 0.3s;
}

.popupBody {
    background-color: white;
    border-radius: 6px;
    display: flex;
    width: 100%;
    max-width: 301px;
    flex-direction: column;
    position: relative;
    left: 68%;
    right: 30%;
    top: 3%;
}

.popupPhoto {
    display: flex;
    height: 100px;
    width: 30px;
    flex-direction: column;
    padding-left: 110px;
    font-size: 16px;
    color: #fff;
}

.popupTitle {
    padding-left: 15px;
    margin-top: 15px;
}

.popupClose {
    cursor: pointer;
    position: relative;
    left: 260px;
    bottom: 20px;
}

.popupGender {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.popupGenderWoman {
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 17px;
    box-shadow: 0px 0px 5px;
}

.popupGenderMan {
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 17px;
    box-shadow: 0px 0px 5px;
}

.forPopupInput {
    border: none;
    margin-left: 22px;
    margin-top: 22px;
    width: 100%;
    max-width: 252px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.popupAddPhoto {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    flex-direction: column;
}

.popupPhotoText {
    width: 100%;
    padding-top: 15px;
}

.forPopupButt {
    margin-top: 20px;
    border-radius: 20px;
    background-color: blue;
    border: none;
    color: #fff;
    padding: 6px 102px;
    margin-left: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.secondPopup {
    position: absolute;
    display: flex;
    align-items: center;
    top: -100px;
    left: -1px;
    bottom: -500px;
    width: 100%;
    max-width: 100%;
    height: 1000px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}